server:
  port: 7000

spring:
  application:
    name: service-authorization

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/