server:
  port: 8040

spring:
  application:
    name: service-order

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8100/eureka/

datasource:
  driver-class-name: org.postgresql.Driver
  url: jdbc:postgresql://192.168.0.25:6000/db_order
  username: postgres
  password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true