server:
  port: 8050

spring:
  application:
    name: service-delivery

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://192.168.0.25:6000/db_delivery
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update  # 개발 단계에서는 update 사용
    show-sql: true      # 쿼리 로그 확인
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8100/eureka/