# service-discovery/.env.example
SPRING_APPLICATION_NAME=discovery-service
SERVER_PORT=8100

DB_DRIVER=org.postgresql.Driver
DB_HOST=localhost
DB_PORT=6000
DB_NAME=db_discovery
DB_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_MAX_POOL_SIZE=5

EUREKA_INSTANCE_HOSTNAME=localhost
EUREKA_REGISTER_WITH_EUREKA=false
EUREKA_FETCH_REGISTRY=false
EUREKA_DEFAULT_ZONE=http://${EUREKA_INSTANCE_HOSTNAME}:${SERVER_PORT}/eureka/
